@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-sans: sans-serif;
    --font-roboto: "Roboto", sans-serif;
}

@layer base {
    html {
      background-color: black;
        font-family: var(--font-roboto);
    }
}